@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bebas Neue';
  src: url('../../public/fonts/LilitaOne-Regular.ttf');
}

@font-face {
  font-family: 'GothamLight';
  src: url('../../public/fonts/GothamLight.ttf');
}

@font-face {
  font-family: 'GothamBlack';
  src: url('../../public/fonts/Gotham-Black.otf');
}

@layer utilities {
  .shadow-bottom-2xl {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.scrollbar_hidden {
	scrollbar-width: none; /* For Firefox */
	-ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
.scrollbar_hidden::-webkit-scrollbar {
	display: none;
  }